@namespace SsExample.Pages.Examples

<p>
    <section class="component flow">
        <div class="@MdcTypography.Caption component-header">Disabled Button</div>
        <MdcButton Label="Button" Disabled="true" />
        <CodeSection>
            <pre rel="Blazor"><code>@(@"<MdcButton Label=""Button"" Disabled=""true"" />")</code></pre>
        </CodeSection>
    </section>
</p>