@namespace SsExample.Pages.Examples

<p>
    <section class="component flow">
        <div class="@MdcTypography.Caption component-header">Button with Trailing Icon</div>
        <MdcButton Label="Button" TrailingIcon="save" />
        <CodeSection>
            <pre rel="Blazor"><code>@(@"<MdcButton Label=""Button"" TrailingIcon=""save"" />")</code></pre>
        </CodeSection>
    </section>
</p>