@namespace SsExample.Pages.Examples

<p>
    <section class="component flow">
        <div class="@MdcTypography.Caption component-header">Base Button</div>
        <MdcButton Label="Button" />
        <CodeSection>
            <pre rel="Blazor"><code>@(@"<MdcButton Label=""Button"" />")</code></pre>
        </CodeSection>
    </section>
</p>