@namespace SsExample.Pages.Examples

<p>
    <section class="component flow">
        <div class="@MdcTypography.Caption component-header">Raised Button</div>
        <MdcButton Label="Button" ButtonStyle=MdcButtonStyle.raised />
        <CodeSection>
            <pre rel="Blazor"><code>@(@"<MdcButton Label=""Button"" ButtonStyle=MdcButtonStyle.raised />")</code></pre>
        </CodeSection>
    </section>
</p>