@namespace SsExample.Pages.Examples

<p>
    <section class="component flow">
        <div class="@MdcTypography.Caption component-header">List With Secondary Text</div>

        <div>
            <MdcList>
                <MdcListItem Label="List Item 1" SecondaryText="Secondary Text 1" />
                <MdcListItem Label="List Item 2" SecondaryText="Secondary Text 2" />
            </MdcList>
        </div>

        <CodeSection>
            <pre rel="Blazor"><code>@(@"<div>
    <MdcList>
        <MdcListItem Label=""List Item 1"" SecondaryText=""Secondary Text 1"" />
        <MdcListItem Label=""List Item 2"" SecondaryText=""Secondary Text 2"" />
    </MdcList>
</div>")</code></pre>
        </CodeSection>
    </section>
</p>