@namespace SsExample.Pages.Examples

<p>
    <section class="component flow">
        <div class="@MdcTypography.Caption component-header">List With Group</div>
        <MdcListGroup>
            <MdcList>
                <MdcListItem Label="Group 1 List Item 1" />
                <MdcListItem Label="Group 1 List Item 2" />
            </MdcList>
            <MdcList>
                <MdcListItem Label="Group 2 List Item 1" />
                <MdcListItem Label="Group 2 List Item 2" />
            </MdcList>
        </MdcListGroup>


        <CodeSection>
            <pre rel="Blazor"><code>@(@"<MdcListGroup>
    <MdcList>
        <MdcListItem Label=""Group 1 List Item 1"" />
        <MdcListItem Label=""Group 1 List Item 2"" />
    </MdcList>
    <MdcList>
        <MdcListItem Label=""Group 2 List Item 1"" />
        <MdcListItem Label=""Group 2 List Item 2"" />
    </MdcList>
</MdcListGroup>")</code></pre>
        </CodeSection>
    </section>
</p>