@page "/"

<h1 class="@MdcTypography.H4">MDC Blazor Server Side Example Project</h1>
<p>This project is intended to be an example of a material components web implementation into Blazor components.</p>
