@namespace SsExample.Pages.Examples

<p>
    <section class="component flow">
        <div class="@MdcTypography.Caption component-header">Linear Progress</div>
        <MdcLinearProgress />

        <CodeSection>
            <pre rel="Blazor"><code>@(@"<MdcLinearProgress />")</code></pre>
        </CodeSection>
    </section>
</p>