@namespace SsExample.Pages.Examples

<ParameterSection>
    Built upon the <a href="./listing#TextField" target="_self">MdcTextField</a> and thus has its parameters.

    <div><strong>Items</strong> (<code>@("List<MdcAutoCompleteListItem>")</code>)<br /><strong>Required</strong><br />The list of autocomplete/suggested values. Each list item requires a <code>string Value</code> and <code>string Label</code></div>
    <div><strong>MenuListPosition</strong> (<code>MdcAutocompleteListPosition</code>)<br /><em>Optional</em><br />Values: <code>MdcAutocompleteListPosition._absolute</code> (default)<br /><code>_fixed</code></div>
    <div><strong>NumberOfElementsInList</strong> (<code>int</code>)<br /><em>Optional</em><br />Number of items from the list of <code>Items</code> to show. Default value is <code>10</code></div>
    <div><strong>ValueMustBeInList</strong> (<code>bool</code>)<br /><em>Optional</em><br />True value select first result from filtered list. Default value is <code>false</code>. Note that a user can bypass this by entering a value then clicking or tabbing out of the text field.</div>
</ParameterSection>