@namespace SsExample.Pages.Examples

<ParameterSection>
    <div>
        Expected Layout<br /><pre><code>@(@"<MdcRadio>
    <MdcRadioOption />
    <MdcRadioOption />
</MdcRadio>")</code></pre>
    </div>

    <div>
        <code>MdcRadio</code> Parameters<br />
        <div><strong>Id</strong> (<code>string</code>)<br /><em>Optional</em><br />Used to pass component id string</div>
    </div>
    <strong>Value</strong> (<code>string</code>)<br /><strong>Required</strong><br />Value of the selected option

    <MdcDivider />

    <div>
        <code>MdcRadioOption</code> Parameters<br />
        <strong>Class</strong> (<code>string</code>)<br /><em>Optional</em><br />Used to pass CSS class names
    </div>
    <div><strong>Disabled</strong> (<code>bool</code>)<br /><em>Optional</em><br />Used to set radio option enabled/disabled state</div>
    <div><strong>IsInitialDialogFocus</strong> (<code>bool</code>)<br /><em>Optional</em><br />Used only when this element is within an MdcDialog. True value indicates this element should be focused on dialog open.</div>
    <div><strong>Label</strong> (<code>string</code>)<br /><strong>Required</strong><br />Used to set radio option text</div>
    <div><strong>Style</strong> (<code>string</code>)<br /><em>Optional</em><br />Used to pass inline-CSS</div>
    <div><strong>Value</strong> (<code>T</code>)<br /><strong>Required</strong><br />Value of the radio option</div>
</ParameterSection>