@namespace SsExample.Pages.Examples

<p>
    <section class="component flow">
        <div class="@MdcTypography.Caption component-header">Circular Progress - Large</div>
        <MdcCircularProgress />

        <CodeSection>
            <pre rel="Blazor"><code>@(@"<MdcCircularProgress />")</code></pre>
        </CodeSection>
    </section>
</p>