@namespace SsExample.Pages.Examples

<p>
    <section class="component flow">
        <div class="@MdcTypography.Caption component-header">Divider</div>
        <div>Some content above a dividing line.</div>
        <MdcDivider />
        <div>Some content below a dividing line.</div>

        <CodeSection>
            <pre rel="Blazor"><code>@(@"<div>Some content above a dividing line.</div>
<MdcDivider />
<div>Some content below a dividing line.</div>")</code></pre>
        </CodeSection>
    </section>
</p>